In [1]:
import pandas as pd
import numpy as np

In [4]:
data_2014 = pd.read_csv("mental_health_tech_2014.csv")
data_2016 = pd.read_csv("mental_health_tech_2016.csv")

In [5]:
data_2014

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [19]:
data_1 = data_2014[["no_employees", "work_interfere"]].dropna()

In [37]:
data_2 = data_2014[["family_history", "work_interfere"]].dropna()

In [43]:
data_3 = data_2014[["Gender", "mental_health_consequence"]].dropna()

In [44]:
pd.crosstab(data_3["Gender"], data_3["mental_health_consequence"])

mental_health_consequence                       Maybe   No  Yes
Gender
A little about you                                  0    0    1
Agender                                             1    0    0
All                                                 0    0    1
Androgyne                                           0    0    1
Cis Female                                          1    0    0
Cis Male                                            1    0    1
Cis Man                                             1    0    0
Enby                                                0    0    1
F                                                  13   13   12
Femake                                              1    0    0
Female                                             56   37   28
Female                                              1    0    1
Female (cis)                                        0    0    1
Female (trans)                                      0    0    2
Genderqueer                                         0    0    1
Guy (-ish) ^_^                                      0    0    1
M                                                  45   42   29
Mail                                                0    1    0
Make                                                2    1    1
Mal                                                 1    0    0
Male                                              217  268  130
Male                                                2    0    1
Male (CIS)                                          0    0    1
Male-ish                                            1    0    0
Malr                                                0    1    0
Man                                                 0    2    0
Nah                                                 0    0    1
Neuter                                              0    1    0
Trans woman                                         1    0    0
Trans-female                                        1    0    0
Woman                                               2    1    0
cis male                                            1    0    0
cis-female/femme                                    0    1    0
f                                                   7    5    3
femail                                              0    1    0
female                                             26   15   21
fluid                                               0    1    0
m                                                  11   19    4
maile                                               0    1    0
male                                               81   78   47
male leaning androgynous                            0    0    1
msle                                                1    0    0
non-binary                                          1    0    0
ostensibly male, unsure what that really means      0    0    1
p                                                   0    0    1
queer                                               0    1    0
queer/she/they                                      1    0    0
something kinda male?                               0    1    0
woman                                               1    0    0

In [38]:
pd.crosstab(data_2["family_history"], data_2["work_interfere"])

work_interfere  Never  Often  Rarely  Sometimes
family_history
No                175     64      92        215
Yes                38     80      81        250

In [21]:
pd.crosstab(data_1["no_employees"], data_1["work_interfere"])

work_interfere  Never  Often  Rarely  Sometimes
no_employees
1-5                23     26      22         71
100-500            30     15      29         66
26-100             53     35      29        112
500-1000           16      1       9         18
6-25               44     40      41         94
More than 1000     47     27      43        104

In [7]:
# data_2016

In [ ]:
print()